#
# Sharp Touchscreen configuration
#

if SHARP_TPS_FOCALTECH_DEV

	config SHARP_TPS_FOCALTECH_FT8707
		tristate "FOCALTECH FT8707"
		default n
		depends on SHARP_TPS_FOCALTECH_DEV

endif # SHARP_TPS_FOCALTECH_DEV
