#
# MMC subsystem configuration
#

menuconfig MMC
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

config SHARP_MMC
	bool "SHARP MMC driver customized"
	depends on MMC
	default n

config SHARP_MMC_SD
	bool "SHARP SD driver customized"
	depends on SHARP_MMC
	default n

config SHARP_MMC_SD_ENABLE_GPIOPW
	bool "SHARP SD driver customized for enable GPIO power"
	depends on SHARP_MMC_SD
	default n

config SHARP_MMC_SD_DISABLE_CLK_SCALE
	bool "SHARP SD driver customized for disable Clock Scaling"
	depends on SHARP_MMC_SD
	default n

config SHARP_MMC_SD_ENABLE_ONLY_DDR50
	bool "SHARP SD driver customized for enable DDR50 mode"
	depends on SHARP_MMC_SD
	default n

config SHARP_MMC_SD_ECO_MODE
	bool "SHARP SD driver customized for Reduce the noise interference between SD access and DTV"
	depends on SHARP_MMC_SD
	default n

config SHARP_MMC_SD_BATTLOG
	bool "SHARP SD driver customized for logging"
	depends on SHARP_MMC_SD
	default n

config SHARP_MMC_SD_EXPAND_RAS
	bool "SHARP SD driver customized for expand a read ahead size"
	depends on SHARP_MMC_SD
	default n

if MMC

source "drivers/mmc/core/Kconfig"

source "drivers/mmc/host/Kconfig"

endif # MMC
